# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment variables & secrets
.env
*.env

# Cache & Testing
.pytest_cache/
.cache/
.coverage
htmlcov/

# Session Data & Storage
data/
models/
scratch/
chroma_db/
*.db
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
